<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA01f6pZPfrI_6WmcikI8KSi4xFwCmM5fI</string>
	<key>GCM_SENDER_ID</key>
	<string>710097734921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.blogApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>blogapp-8983e</string>
	<key>STORAGE_BUCKET</key>
	<string>blogapp-8983e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:710097734921:ios:4a64d81a33c3724b3417d8</string>
</dict>
</plist>